# Modèles (trop lourds pour git)
*.keras
*.h5

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Dataset (trop lourd)
Shoes Dataset/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
